
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

html {
  background-color: #343a40;
  color: #fff;
  font-family: "Segoe UI", sans-serif;
}

a {
  text-decoration: inherit;
  color: inherit;
  transition: color 0.15s;
  font-weight: bold;
  
  &:not(.Button) {
    &:hover, &:focus {
      color: #b67000;
    }
  
    &:active {
      color: #d08400;
    }
  }
}

p {
  margin-bottom: 0.75em;
}

input, textarea {
  font-size: 80%;
  padding: 0.4em;
  border-radius: 0.25em;
  border: 1px solid #8d6700;
  background-color: #fffaf0;
  font-family: inherit;
  
  &:focus {
    box-shadow: 0 0 0.2em #8d6700 inset;
    outline: none;
  }
  
  &:invalid:not(:placeholder-shown):not([type="file"]) {
    background-color: #fadcdc;
  }
}

hr {
  margin: 1em 0;
  border: none;
  border-top: 1px solid #5d3b00;
}
