
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

html {
  background-color: #343a40;
  color: #fff;
  font-family: "Segoe UI", sans-serif;
}

a {
  text-decoration: inherit;
  color: inherit;
  transition: color 0.15s;
  font-weight: bold;
  
  &:not(.Button) {
    &:hover, &:focus {
      color: #b67000;
    }
  
    &:active {
      color: #d08400;
    }
  }
}
