
.IndexPage {
  overflow: hidden;
  
  .logo {
    width: 0;
    flex: 1;
    max-width: 30em;
    height: auto;
    transform: scale(1);
    transition: transform 0.3s;
    
    &:hover {
      transform: scale(1.2);
    }
  }
  
  .Layout.compact & .Section {
    flex-direction: column;
    
    .logo {
      width: 50vw;
      max-width: unset;
      flex: unset;
    }
    
    .main {
      flex: 0;
    }
  }
  
  .main {
    flex: 1.5;
    max-width: 40em;
    
    .buttons {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1em;
      margin-top: 2em;
    }
  }
}
