
.IndexPage {
  .logo {
    transition: width 0.3s;
    width: 30vw;
    height: auto;

    &:hover {
      width: 35vw;
    }
  }

  section {
    padding: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;

    &.full {
      height: calc(100vh - 8em);
    }
  }
}
