@import "../mixins";

.Button {
  @include ButtonBox;
  
  position: relative;
  cursor: pointer;
  width: 10em;
  min-width: min-content;
  overflow: hidden;
  
  label {
    display: inline-block;
    background: #ffcb67;
    margin: -0.5em -0.5em -0.5em 0.4em;
    padding: 0.5em 0.4em;
    color: rgba(#5d3b00, 0.8);
    box-shadow: inherit;
    cursor: inherit;
    transition: background-color 0.1s;
  }
  
  &:hover, &:focus {
    label {
      background: #f5c262;
    }
  }
  
  &:active {
    label {
      background: #e3b55b;
    }
  }
  
  &.primary {
    @include PrimaryButtonBox;
    
    label {
      background: #ad7b00;
      color: rgba(#ffcd77, 0.8);
    }
    
    &:hover, &:focus {
      label {
        background: #a47500;
      }
    }
  
    &:active {
      label {
        background: #8a6600;
      }
    }
  }
  
  &.loading {
    > *:not(.Loader) {
      opacity: 0 !important;
    }
    
    .Loader {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
  
  &.fluid {
    width: 100%;
  }
}
