@import "../mixins";

.CheckButton {
  @include ButtonBox;
  margin-right: 0.5em;
  padding: 0;
  vertical-align: middle;
  line-height: 100%;
  
  input {
    position: relative;
    margin: 0 -1.5em 0 0.5em;
    pointer-events: none;
  }
  
  label {
    display: inline-block;
    padding: 0.3em 0.5em 0.3em 2em;
    cursor: pointer;
    font-size: 75%;
    width: 100%;
  }
  
  &.active {
    background: #ffcb67;
    border: 1px solid #ad7b00;
    box-shadow: rgba(#ad7b00, 0.2) 0 -5px 8px inset;
    color: rgba(#5d3b00, 0.8);
    
    &:hover, &:focus {
      background: #f5c262;
    }
  }
}
